@mixin position {
    margin: 30px;
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #F56FAD;
}